<!DOCTYPE html>
<html lang="ru" th:replace="~{base::layout(~{::section})}">
<body>
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header text-center fs-4">Личный профиль</div>
                    <div class="card-body text-center">
                        <h4>Имя: <span th:text="${user.name}"></span></h4>
                        <h4>Email: <span th:text="${user.email}"></span></h4>
                        <h4>Телефон: <span th:text="${user.phone}"></span></h4>
                        <h4>Роль: <span th:text="${user.role}"></span></h4>
                        <br>
                        <a th:href="@{/logout}" class="btn btn-danger">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>